<div class="container col-md-9">
    <h2 style="color: blue;"> User Login</h2>
    <form (ngSubmit)="userlogin()">
        <div class=" mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" [(ngModel)]="user.username" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="user.password" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>
